/*
* Third Party
*/
@import "../../bower_components/bootstrap/scss/normalize";
@import "../../bower_components/tether/dist/css/tether.min.css";
@import "../../bower_components/bootstrap/scss/bootstrap";
@import "../../bower_components/font-awesome/scss/font-awesome";
@import "../../bower_components/3d-rotating-navigation/css/style.css";


/*
* Custom
*/
@import "partials/fonts";
@import "partials/variable";
@import "partials/menu-animated";
@import "partials/typed";


body {
  text-align: center;
  font-size: $main-size;
  font-family: $ff-main;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1800px;
  display: block;
  margin: 0 auto;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

@import "partials/header";
@import "partials/works";
@import "partials/contact";

// Always End
@import "partials/media";