#section-box {
    width: 100%;
    min-height: 1100px;
    background:url('../img/contact_bg.png') no-repeat center;
    background-size: cover;

.small-arrow .fa {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: $main-txt-sh;
    transition: all .4s ease-out;
    overflow: hidden;
    margin-bottom: 50px;
  }

  .small-arrow .fa:hover {
    box-shadow: 0 0 15px #fff;
    transition: all .4s ease-out;
    color: $hover-bg;
    border: 1px dashed $hover-bg;
    border-radius: 50%;
    padding: 10px;
  }
}

form.form_send {
    margin: 0 auto 250px;
    border-radius: 5px;
    background-color: rgba(218, 219, 214, 0.6);
    height: 500px;
    padding-top: 50px;
    overflow: hidden;

    div.row {
        margin: 0 auto 30px;
        
        input, textarea {
            margin: 0 auto;
            width: 85%;    
            background-color:  rgba(255, 255, 255, 0.85);
            padding: 15px;
            border-radius: 10px;
            border: none;
            outline: none;
        }
        textarea {
            height: 130px;
        }
       
        .btn-form {
            margin-top: 60px;
            background-color:  #4e8839;
            border-radius: 0;
            color: #fff;
            transition: background-color .3s ease-out;
        }

        .btn-form:hover {
            background-color:  #6c9c5a;
            cursor: pointer;
        }

        .btn-submit {
            margin-left: -15px;
        }

        .btn-reset {
            margin-right: -15px;
        }
    }
    
}