header {
  max-width: 100%;
  height: 100vh;
  background: #fff url("../img/bg_header.jpg") no-repeat;
  background-size: cover;

  .header__top {
    min-height: 3.125rem;
    display: flex;
    align-content: space-between;
    align-items: center;
    padding: 2.135rem 3.125rem;

  }
  .header__social-icons {
    text-align: left;
    flex-grow: 1;
    a {
      float: left;
      margin-right: 3.92rem;
      i.fa:hover {
        color: $hover-bg;
        transition: color .2s ease-in;
      }
      i.fa {
        width: 25px;
        height: 25px;
        font-size: 40px;
        color: #fff;
        background-color: transparent;
        transition: color .3s ease-in;
      }
    }
  }
  
  .header__menu-hamb {
    position: fixed;
    top: 4.2rem;
    right: 5.2rem;
  div {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;

    span.hamburger,
    span.hamburger::before,
    span.hamburger::after {
      display: block;
      position: absolute;
      width: 3.75rem;
      height: 10px;
      border-radius: 3px;
      background: #fff;
    }

    span.hamburger::before {
      content: '';
      margin-top: -1.6375rem;
    }
    span.hamburger::after {
      content: '';
      margin-top: 1.6375rem;
    }
  }

  }

}
