
nav.cd-3d-nav-container {
  background-color: $header-menu;
}

nav.cd-3d-nav-container.nav-is-visible,
{
  box-shadow: 0 4px 20px #000!important;
  background-color: $header-menu;

  .cd-3d-nav li {
    background-color: $header-menu;
  }

  .nav-is-visible .cd-3d-nav,
  .cd-3d-nav .cd-selected a,
  .cd-3d-nav  a,
  .cd-3d-nav  a:active,
  .cd-3d-nav  a:focus,
  .no-touch .cd-3d-nav .cd-selected a:hover {
    background-color: $header-menu;
    padding-top: 5.5rem;
  }

  .cd-marker.color-1,
  .cd-marker.color-2,
  .cd-marker.color-3,
  .cd-marker.color-4 {
    background-color: #fff;
    color: #fff;
  }

  ul.cd-3d-nav {
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    background-color: $header-menu;
    list-style: none;
    li.cd-selected {
      background-color: $header-menu;
    }
  }
  .fa {
    font-size: 3rem;
  }
  li.cd-selected a,
  li a {
    .fa {
      font-size: 4.5rem;
    }
    font-size: 2.3rem;
    transition: color .3s ease-out;
    text-shadow: $main-txt-sh;
  }

  li.cd-selected a:hover,
  li a:hover {
    color: #3d9970!important;
    text-decoration: none;
  }
}

.header__menu-hamb > div > a.cd-3d-nav-trigger {
  display: block;
  margin-top: -1rem;
  width: 70px;
  height: 70px;
  span,
  span::before,
  span::after {
    display: block;
    width: 35px;
    height: 4px;
    border-radius: 5px;
    text-shadow: $main-txt-sh;
  }
  
}
