.preloader {
    position: fixed;
    background-color: rgba(27.948526259988604%, 45.80645161290322%, 17.959586122945826%, 0.7);
    top: -470px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
}