// Color
$hover-bg: rgb(77, 137, 55);
$main-color: #000;
$white: #fff;
$header-menu: rgb(108, 156, 90);
$main-txt-sh: 1px 1px 3px #000;

// Fonts
$ff-main: 'Yanone Kaffeesatz', sans-serif;
$main-size: 18px;