main {
  /* === My Works ===*/
  .h1 {
    padding-top: 5rem;
    margin-top: -22rem;
    min-width: 35rem;
    min-height: 18rem;
    color:  #373e42;
    font-weight: 700;
    font-size: 8rem;
    background: url("../img/works_header_bg.png") no-repeat center top;
    background-size: auto;
  }

  p.under_h1 {
    width: 70px;
    height: 5px;
    border-radius: 4px;
    background-color: $main-color;
    margin: 0 auto;
  }
}