main {
  /* === My Works ===*/
  .h2 {
    padding-top: 5rem;
    margin-bottom: 0;
    min-width: 35rem;
    min-height: 16rem;
    color:  #373e42;
    font-weight: 700;
    font-size: 8rem;
    background-size: auto;
  }

  .h2-works {
    margin-top: -22rem;
    background: url("../img/works_header_bg.png") no-repeat center top;
  }

  p.under_h2 {
    width: 100px;
    height: 5px;
    border-radius: 4px;
    background-color: $heading-color;
    margin: 0 auto 35px;
  }

  section#works {
    width: 100%;
    min-height: 750px;

    .works__nameTech {
      background-color:  #ebefe2;
      min-height: 750px;
    }

    .works__demoWorks {
      background-color:  #e1e4d7;
      min-height: 750px;

      p.used_tech {
        font-size: 16px;
      }
    }
  }
}